@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.2.4px;
  background-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.navcustom {
  background: #F9F3EE;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.bg {
  background: #F2E5D0;
}

.h1epus {
  color: #FE6321;
}

.placecard{
  background: #F9F3EE;
}

.vline {
  border-left: 1px solid lightgrey;
  height: 1.5em;
}

.dropdown {
  background: #F6F0E5;
  border: 1px solid #FE6321;
}

.orangetheme {
  color: #FE6321
}